@model WowMvc.Models.Guild

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Загрузить информацию</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Guild</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Realm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Realm)
            @Html.ValidationMessageFor(model => model.Realm)
        </div>

        <p>
            <input type="submit" value="Загрузить" />
        </p>
    </fieldset>
}
