@model WowMvc.Models.Guild

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Название: @Model.Name <br />
Рилм: @Model.Realm <br />
Кол-во игроков: @Model.Players.Count <br />

<table>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Уровень
        </th>
         <th>
            Пол
        </th>
        <th>
            Achievement Points
        </th>
    </tr>
    @foreach (var item in Model.Players) 
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
         <td>
           @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AchievePoints)
        </td>
    </tr>
}
</table>
